---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi. I'm Hugo. I'm a software engineer with 6 years experience in Fullstack development and Devops practice.
		</p>
		<p>Here are some of my recent projects:</p>
		<h3>Setel Payment Engine - FullStack(Jul 2024 - Now):</h3>
		<ul class="list-inside list-disc" role="list">
			<li>Designed and implemented secure card tokenization flow for adding payment cards to digital wallet</li>
			<li>Designed and implemented secure card payment flow with 3D Secure authentication</li>
			<li>Built Grafana dashboards to monitor system metrics, performance, and error rate</li>
		</ul>
		<h3>Verrency - Devops(Mar 2022 - Now):</h3>
		<ul class="list-inside list-disc" role="list">
			<li>Provisioned and managed AWS resources with Terraform</li>
			<li>Designed and implemented CI/CD for deployment workflow</li>
			<li>Worked with team lead to handled/fixed the security issues to pass PCI/DSS certificate</li>
			<li>Designed and implemented centralized database backup</li>
			<li>Worked with team lead to optimize AWS cost</li>
			<li>Migrated ECS services to use serverless stack</li>
			<li>Built Grafana dashboards to monitor system metrics, performance, and error rate</li>
			<li>Designed and implemented automated test flow</li>
			<li>Created the automation script by bash/python</li>
			<li>Implemented lambda function to handle alerting</li>
		</ul>
		<h3>Kairan - FullStack(Sep 2024 - Mar 2025):</h3>
		<ul class="list-inside list-disc" role="list">
			<li>Designed and implemented Infrastructure with AWS, Terraform</li>
			<li>Designed and implemented CI/CD for deployment workflow by GitlabCI</li>
			<li>Implemented API and socket-service for chat application</li>
		</ul>
		<h3>ChatWow - Devops(Feb 2024 - Nov 2024)</h3>
		<ul class="list-inside list-disc" role="list">
			<li>Designed and implemented Infrastructure with AWS, Terraform</li>
			<li>Designed and implemented CI/CD for deployment workflow</li>
		</ul>
		<h3>TopSpotAI - Devops(Nov 2023 - Feb 2024)</h3>
		<ul class="list-inside list-disc" role="list">
			<li>Imported existing AWS resources to Terraform and manage it</li>
			<li>Migrated GitlabCI to GithubAction</li>
		</ul>
		<h3>Sotalabs Infra - Devops(Nov 2023 - Feb 2024)</h3>
		<ul class="list-inside list-disc" role="list">
			<li>Implemented and Managed on-premise K8S clusters</li>
			<li>Designed and implemented CI/CD for deployment workflow</li>
			<li>Supported lab teams integrated with on-premise K8S clusters</li>
		</ul>
		<h3>Setel Duitnow - FullStack(Jun 2022 - Jun 2024)</h3>
		<ul class="list-inside list-disc" role="list">
			<li>Developed QR code payment flow </li>
			<li>Integrated with the government API</li>
			<li>Implemented the retry mechanism to ensure data consistency</li>
			<li>Built Grafana dashboards to monitor system metrics, performance, and error rate</li>
			<li>Built web-admin screens using React, Tailwind CSS, and micro frontend architecture</li>
		</ul>
		<h3>Buni - Devops(Nov 2021 - May 2022)</h3>
		<ul class="list-inside list-disc" role="list">
			<li>Designed and implemented infrastructure as code with Terraform</li>
			<li>Designed and implemented CI/CD for deployment workflow</li>
			<li>Migrated services from VMs to K8S</li>
		</ul>
		<h3>Setel Checkout - FullStack(Jan 2021 - May 2022)</h3>
		<ul class="list-inside list-disc" role="list">
			<li>Implemented API checkout for users to make payment for their purchases</li>
			<li>Implemented Web checkout with React, Tailwind CSS</li>
			<li>Wrote API documentation to support merchants integrate with Payment System</li>
			<li>Supported Petronas Shop integrated flow Pay With Setel</li>
		</ul>
	</div>
</PageLayout>
